<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="assets/css/styles.css" type="text/css" />
    <title>Insurance!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="assets/js/insurance.js"></script>
    <script src="/assets/js/login.js"></script>

</head>

<body>
    <div class="navbar-fixed ">
        <nav class="nav-extended blue darken-4">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="/" class="bluebrand-logo">INSURANCE FOR U!</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a id="time"></a></li>
                        <li><a href="login">LOGIN</a></li>
                        <li><a href="agent">agent</a></li>
                        <li><a href="Signup">Signup</a></li>
                        <li><a href="#">Fries</a></li>
                        <li><a href="#">Sodas</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <br>
            <div class="col s12">
                {{{ body }}}
            </div>
        </div>

    </div>
</body>

</html>