<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
    <title>Insurance!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/insurance.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    <script src="/assets/js/auth.js"></script>
    <!--Require JS-->
    {{!-- <scirpt src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></scirpt> --}}

</head>

<body>
    {{{ body }}}

</body>

</html>
<script>

</script>