{{> users/nav }}
<div class="container">
	<div class="row">

		<div class="col s12">

			{{!--
			<form id="form_data" action="/users" method="POST"> --}}
				<form class="send">
					<h1>Add Assets </h1>
					<div class="form-group">
						<label for="first">Email</label>
						<input type="text" class="form-control" id="email">
					</div>
					<div class="form-group">
						<label for="first">Item Name </label>
						<input value="" type="text" class="form-control" id="item">
					</div>
					<div class="form-group">
						<label for="last">Unit Price</label>
						<input type="text" class="form-control" id="unit">
					</div>

					<div class="form-group">
						<label for="phone">Quantity</label>
						<input type="text" class="form-control" id="qu">
					</div>
					<div class="form-group">
						<label for="phone">Image</label>
						<input type="text" class="form-control" id="image">
					</div>


					<button type="submit" class="btn btn-default">Submit</button>
					<a href="/home" class="btn btn-default">Cancel</a>

				</form>

		</div>
	</div>
</div>

<script src="/assets/js/crudactions.js">

</script>