{{> users/nav }}
<div class="container">
    <div class="row">

        <div class="col s12">
            <h3>HOME</h3>
            <div id="username"></div>
            
        </div>
        <a class="btn btn-default" id="add" href="/assetms">Add New Item</a>

    </div>
</div>

<script src="/assets/js/auth.js">

</script>