<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">sort</i>
        <input placeholder="email@email.com" type="text" id="searchemail" class="autocomplete ">
        <label for="autocomplete-input">Enter email</label>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h1> HOME Assets </h1>
        <table class="bordered highlight responsive-table">
            <tr>
                <th>User ID</th>
                <th>item </th>
                <th>Customer Value</th>
                <th>email</th>
                <th>amazon unit value</th>
                <th>quantity</th>
                <th>total Customer value</th>
                <th>total amazon value</th>
                <th>image</th>
            </tr>
            <tbody>
                {{#each homeassets}}
                <tr>{{> homeassets/assets}} </tr>

                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    var assets = "{{homeassets}}";
 
    console.log(assets);

</script>

<script src="/assets/js/assets.js">


</script>