<div class="row">
	{{!--
	<divclass="clearfix">
</div> --}}
<div class="col s12">

	<table class="bordered highlight responsive-table" >
		<tr>
			<th>User ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Phone</th>
			<th>address</th>
			<th>Agent Status</th>
		</tr>
		<tbody>
			{{#each users}}
			<tr>{{> users/users}} </tr>
			{{/each}}
			 {{#each homeassets}}
			<tr>{{> users/insurance}} </tr>
			{{/each}} 
		</tbody>
	</table>


</div>
</div>