<div class="row">

    <div class="col s12">
        <form id="form_data">
            <h1>Login</h1>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password">
            </div>

            <button id="submitLogin" type="submit" class="btn btn-default">Submit</button>
        </form>
        <span id="authAlert"></span>
    </div>
</div>
<script src="/assets/js/auth.js"></script>
<script>
    $("#login").css("display", "none");
    $("#agent").css("display", "none");
//    $("#userprofile").css("display", "none");
</script>