<br>
<br>
<br>
<br>
<br>
 

        {{!-- </script>  --}}
<form id="signin">

    <form >
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password">
        </div>
    
        <button id="button" type="submit" class="btn btn-default">Submit</button>
    </form>


    {{!--
    <div class="input-field col s6">
        <i class="material-icons prefix">home</i>
        <input placeholder="Placeholder" id="address" type="text" class="validate">
        <label for="address">Address</label>
    </div>
    <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="phone" type="text" class="validate">
        <label for="phone">Phone</label>
    </div>
    </div>

    <div class="input-field col s6">
        <i class="material-icons prefix"></i>
        <input placeholder="Placeholder" id="password" type="text" class="validate">
        <label for="password">Password</label>
    </div>
    <div class="input-field col s6">
        <i class="material-icons prefix"></i>
        <input id="password_2" type="text" class="validate">
        <label for="password_2">Retype Password</label>
    </div>
    </div> --}}
    <form>
      