{{> users/nav }}
<div class="container">

	<div class="row">
		<div class="col s12">

			{{!-- {{#each users}} {{users/assets }} {{/each}} --}}

			<hr>
			<form class="update">
				<table class="bordered highlight responsive-table">
					<tr>

						<th>ITEM</th>
						<th>PRICE</th>
						<th>IMG</th>
						<th></th>
						<th></th>


					</tr>
					<tbody>

						{{#each users}}
						<tr id="{{this.id}}">{{> users/assets}}</tr>
						{{/each}} {{!-- {{#each users}}
						<tr>{{> users/userinfo}}</tr>
						{{/each}} --}}

					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>

<script>

</script>
<script src="/assets/js/crudactions.js">
	document.getElementById("userprofile").innerHTML = localStorage.getItem("EMAIL");
 

</script>