{{> users/nav }}
<div class="container">

	<div class="row">
		<div class="col s12">

			{{!-- {{#each users}} {{users/assets }} {{/each}} --}}

			<td><button href="assetms" id="create" type="submit" class=" waves-effect waves-light btn-small green" data-id="{{this.id}}">ADD</button></td>
			<hr>

			<table class="bordered highlight responsive-table">
				<tr>

					<th>ITEM</th>
					<th>PRICE</th>
					<th>IMG</th>
					<th></th>
					<th></th>


				</tr>
				<tbody>

					{{#each users}}
					<tr>{{> users/assets}}</tr>
					{{/each}} {{!-- {{#each users}}
					<tr>{{> users/userinfo}}</tr>
					{{/each}} --}}

				</tbody>
			</table>
		</div>
	</div>
</div>

<script>

</script>
<script src="/assets/js/crudactions.js"></script>

{{!-- $("#login").css("display", "none"); $("#agent").css("display", "none"); $("#register").css("display", "none"); --}}