<td>{{this.image}}</td>
<td>{{this.itemname}}</td>
<td>{{this.totalcustvalue}}</td>
<td><button type="submit" class="btn btn-success" id={{this.id}}>Update</button></td>





  {{!-- User need to see home assets here --}}