<nav class="nav-extended blue darken-4">
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="bluebrand-logo">INSURANCE FOR U!</a>
            <a href="/home" id="userprofile"></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li><a id="login" href="/login">LOGIN</a></li>
                <li><a id="submitSignout" >SIGNOUT</a></li>

                <li><a id="add" href="/assetms"></a> </li>
                <li><a id="register" href="/register">REGISTER</a></li>
            </ul>
        </div>
    </div>
</nav>